body{
    padding-top: 80px;
    overflow-x: hidden;
    margin: 0;
}
.sub a img {
    width: 200px;
}
.sub {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background: #fff;
    z-index: 30000;
}
.int {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    padding: 20px;
    color: #fff;
    font-weight: bold;
}
.sub nav, .mens nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.sub nav a:hover, .mens nav a:hover {
    background: blue;
    border: 1px solid #fff;
    color: #fff;
}
.sub nav a, .mens nav a {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 20px;
    transition: all 0.5s;
    animation: bg 4s linear infinite;
    color: #000;
}
.intro {
    background: url(img/pics_me/img42.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
* {
    font-family: sans-serif;
}
.intro video {
    width: 500px;
}
.subIntro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 40px;
    color: #fff;
}
.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 70px;
    flex-wrap: wrap;
    padding: 40px;
    z-index: -5;
    box-shadow: inset -5px -5px 15px rgba(255,255,255,0.1),
    inset 5px 5px 15px rgba(0,0,0,0.35);
    margin-top: 30px;
    border: 8px solid wheat;
    border-radius: 20px;
    background: wheat;
}
.abo {
    padding: 0 15px;
}
.span {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 20px;
    width: 60%;
}
.about img {
    width: 30%;
}
.div {
    padding: 10px 25px;
    border-radius: 20px;
    font-family: sans-serif;
    font-weight: bold;
    border: none;
    background: #6e68681f;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    position: relative;
    overflow: hidden;
    transition: 0.7s;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.8);
    z-index: 1;
}
.div:hover::before {
    left: 120%;
}
.div::before {
    content: '';
    position: absolute;
    left: -15px;
    top: 0;
    bottom: 0;
    width: 62%;
    transform: skew(50deg);
    background: #2726261f;
    z-index: -1;
    transition: 0.5s;
}
.span h2 {
    margin: 0;
}
.btn1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.projPrev {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    position: relative;
    padding: 20px;
    box-shadow: inset -5px -5px 15px rgba(255,255,255,0.1),
    inset 5px 5px 15px rgba(0,0,0,0.35);
    border: 8px solid wheat;
    border-radius: 20px;
    background: wheat;
    z-index: -200;
}
.proja {
    background: linear-gradient(#00a6ff, #0044ff);
    letter-spacing: 1px;
}
.proja {
    padding: 10px 20px;
    border-radius: 20px;
    border: 3px solid #0800ff;
    background: linear-gradient(#0044ff, #00a6ff);
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    transition: 0.7s;
    cursor: cell;
}
.imgs {
    display: grid;
    /* flex-direction: row; */
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 90px;
    flex-wrap: wrap;
    width: 100%;
    padding: 15px;
}
.boxs {
    overflow: hidden;
    /* height: 80px; */
    /* width: 80px; */
    background: linear-gradient(45deg, #000dff, #00c8ff);
}
.boxs img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}





.bottom {
    background: rgba(82, 75, 75, 0.244);
    padding: 60px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 70px;
    margin-top: 50px;
    font-weight: bold;
}
.bottom .first {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.bottom .second {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.bottom .third {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.bottom a {
    color: #000;
}
.bottom a:hover {
    text-decoration: underline;
    animation: sense 2s linear infinite;
    color: var(--c);
}
.bottom a {
    text-decoration: none;
    transition: 0.5s;
}
.mens {
    display: none;
    overflow: hidden;
    position: fixed;
    left: 0;
    transition: 1s;
    z-index: 20000;
}
.mens nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px 10px 40px 10px;
    width: 100%;
    background: rgb(230, 216, 190);
    overflow: hidden;
    transition: 1s;
}
.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background: rgba(154, 146, 146, 0.331);
    padding: 20px 80px;
    box-shadow: inset -5px -5px 15px rgba(255,255,255,0.1),
    inset 5px 5px 15px rgba(0,0,0,0.35);
}
.services a:hover, .contact a:hover {
    background: linear-gradient(#00a6ff, #0044ff);
    letter-spacing: 1px;
}
.services a, .contact a {
    padding: 10px 20px;
    border-radius: 20px;
    border: 3px solid #0800ff;
    background: linear-gradient(#0044ff, #00a6ff);
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    transition: 0.7s;
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background: rgba(154, 146, 146, 0.331);
    padding: 20px 80px;
    box-shadow: inset -5px -5px 15px rgba(255,255,255,0.1),
    inset 5px 5px 15px rgba(0,0,0,0.35);
    gap: 10px;
}
/* before rgba(197, 197, 197, 0.331) */

.extra {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    padding: 20px;
    font-weight: bold;
    color: #0800ff;
}
.smedia a i:hover {
    color: #000dff;
}
.smedia a i {
    font-size: 70px;
    margin: 15px;
    text-decoration: none;
}




.btn {
    width: 60px;
    height: 60px;
    background: rgb(255, 123, 0);
    font-size: 1.5em;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25),
    5px 5px 30px rgba(0,0,0,0.25),
    inset -2px -2px 5px rgba(0,0,0,0.25),
    inset 2px 2px 5px rgba(0,0,0,0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 30px;
    border-radius: 10px;
    display: none;
}
.fa.bluu1 {
    display: none;
    color: #fff;
}
.fa.bluu {
    display: block;
    color: #fff;
}
body.light .fa.bluu {
    display: none;
}
body.light .fa.bluu1{
    display: block;
}




@keyframes sense {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}
@media(max-width: 800px) {
    .sub nav {
        display: none;
    }
    .mens {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .btn {
        display: flex;
    }
}
@media(max-width: 730px) {
    
    .bottom {
        flex-direction: column;
    }
}